
profiles{
  standard {
    process.executor = 'local'
    docker.enabled = true
  }

  batch {
    process.executor = 'awsbatch'
    process.queue = 'nextflow-batch-default-queue'
    bucketDir = 's3://nextflow-ccdl-data/work'
    aws{
      region = 'us-east-1'
      batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
    }
  }
}